.buttonMenGro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FAF7F2;
  }
  
  .buttonContainer{
    display: flex;
    align-items: center;
    color: rgb(41, 41, 41);
    justify-content: space-evenly;
    background-color: white;
    border-radius: 60px;
    width: 186px;
    height: 80px;
  }
  
  .buttonContainer a{
    text-decoration: none;
    color: black;
  }