.button2{
    background-color: #FAF7F2;
    border-radius: 50px;
    margin: 20px;
    color: #CE2829;
    font-family: Barlow;
    padding: 15px;
  }
  
  .cards{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    background-color: #FAF7F2;
  }
  
  .left-card{
    background-image: url("../assets/iteration-2/cta/kart-1.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    background-position: center; 
  }
  
  .left-card h2{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 68px;
  font-family: Quattrocento;
  color: #FAF7F2;
  }
  
  .left-card p{
    font-family: Barlow;
    margin-left: 20px;
    color: #FAF7F2;
  }
  
  .right-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .right-top-card{
    background-image: url("../assets/iteration-2/cta/kart-2.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    background-position: center;
    padding-right: 100px;
  }
  
  .right-top-card h2{
    font-family: Barlow;
    margin-left: 20px;
    color: #FAF7F2;
  }
  
  .right-bottom-card{
    background-image: url("../assets/iteration-2/cta/kart-3.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    background-position: center;
    padding-right: 100px;
  }
  
  .right-bottom-card h2{
    font-family: Barlow;
    margin-left: 20px;
    color: black;
  }