.nav-gour{
    display: flex;
    justify-content: center;
    background-color: white;
    padding:20px;
    align-items: center;
  }
  
  .nav-group{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;
  }
  
  .nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  
  .nav-items a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color:black;
  }